@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nunito&display=swap');

body {
    padding-top: 70px;
    background: linear-gradient(rgb(111, 178, 210), rgb(133, 200, 138));
    font-family: 'Nunito', sans-serif;
}

/* main > .container-fluid {
    padding-top: 60px;
} */

.navbar {
    background-color: rgb(111, 178, 210);
}

.navbar-brand {
    font-family: 'Josefin Sans', sans-serif;
}

.welcome-text {
    background-image: url(/static/images/hero-image.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

.welcome-bubble {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(39, 35, 35, 0.6);
    border: 3px solid rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.card {
    background-color: rgba(238, 238, 238, 0.7);
}

.card-row {
    min-height: 50%;
}

.card-img-top {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.trip-description {
    width: 80%;
}

.trip-cards {
    padding: 4%;
}

.footer {
    background-color: rgb(235, 214, 113);
}

.review-bubble {
    background-color: rgba(238, 238, 238, 0.5);
    border: 3px solid rgba(255, 0, 0, 0.5);
    border-radius: 15px;
    width: auto;
}

.review-star {
    color: rgb(255, 217, 0);
}

/* Reusable styling classes */

.content-bubble {
    background-color: rgba(238, 238, 238, 0.5);
    border: 3px solid rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.active {
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    /* border-top: 2px solid rgba(0, 0, 0, 0.5); */
    border-radius: 10px;
}