{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col about-us">
            <h3>About us:</h3>
            <p>
                Hike-a-Thon was started as a project to bring hikers together. The two owners, Alex Alexiadis and George
                Papageorgiou have been long-time hikers and wanted to provide a meeting place for more people who share
                the same passion.<br>
                Thus, back in 2012, they decided to go live with this website, which they are frequently updating until
                now.
                Everyone is welcome to join and all trips will be made public. They have always believed that the more,
                the merrier!
            </p>
            <h3>How it works:</h3>
            <p>
                On the home page, you will find all the trips that are scheduled. <br>
                You can also go to the "Past Trips" page to see the ones that have passed and read user reviews.
                If you want to register for a trip, you will have to create an account. That is very easy and requires
                only a few moments!
                After creating an account, go to the trip you want, press "Details" and then "Register".
                Note that you can't register for past trips, nor review a trip that you have not joined.
            </p>
        </div>
        <div class="col contact-us">
            <p class="contact-text">Hike-a-Thon - The simple Hiking Project</p>
            <p class="contact-text">hikeathon@email.com | +1 123 4567 890</p>
            <p class="contact-text">Athens, Greece</p>
            <br>
            <p>
                You can also find us on the following social media:
            </p>
            <p class="contact-text"><a href="https://www.facebook.com/" target="_blank">Facebook</a></p>
            <p class="contact-text"><a href="https://www.instagram.com/" target="_blank">Instagram</a></p>
        </div>
    </div>
</div>

{% endblock %}