{% extends "base.html" %}
{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <h3>Options:</h3>
        </div>
        <div class="col">
            <h3>Make a request:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <a href="{% url 'user_dashboard' %}">My completed trips</a><br>
            <a href="#">Request trip</a>
        </div>
        <div class="col">
            <form action="" method="post">
                {{ request_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
            <h4>Previous requests:</h4>
            <ul class="list-group">
                {% for request in requests %}
                <li class="list-group-item">
                    {{ request.destination }} - {{ request.description }} -> 
                    {% if request.approved %}
                    <i class="fa-solid fa-circle-check"></i>
                    {% else %}
                    <i class="fa-solid fa-circle-xmark"></i>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}