{% extends "base.html" %}
{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row ">
        <h2 class="text-center">{{ trip.name }}</h2>
        <h4 class="text-center">{{ trip.destination }}</h4>
        <div class="row mx-auto trip-description content-bubble">
            <h3 class="mb-4 mt-2">{{ trip.description | safe }}</h3>
            <hr>
            <h4>When: {{ trip.date_start }} to {{ trip.date_end }}</h4>
            <h4>Price: {{ trip.price }}€</h4>
            <h6>Registered users: {{ trip.registered_users_count }}</h6>
            <hr>
            <h4>Trip total rating:</h4>
            {% with reviews.count as total_reviews %}
            {% if total_reviews is 0 %}
            <h4>No ratings currently</h4>
            {% else %}
            <h4>{{ score }} / 5</h4>
            {% endif %}
            {% endwith %}

            {% if user.is_authenticated and not trip.is_completed %}
            <form action="{% url 'trip_registration' trip.slug %}" method="post">
                {% csrf_token %}
                {% if registered %}
                <button type="submit" name="trip_id" value="{{trip.slug}}"
                    class="btn btn-danger my-2">Deregister</button>
                {% else %}
                <button type="submit" name="trip_id" value="{{trip.slug}}"
                    class="btn btn-success my-2">Register</button>
                {% endif %}
            </form>
            {% endif %}
        </div>
    </div>


    <hr>
    <div class="row">
        {% if reviewed %}
        <p>You have already reviewed this trip. Thank you for that!</p>
        {% else %}
        {% if user.is_authenticated and trip.is_completed and registered %}
        <!-- Should appear if trip is complete and user is authenticated -->

        <h3>Create a review!</h3>
        <form action="" method="post">
            {{ review_form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Submit</button>
        </form>

        {% endif %}
        {% endif %}
        <h2>Reviews:</h2>
        {% with reviews.count as total_reviews %}
        {% if total_reviews == 0 %}
        <h3>No reviews currently</h3>
        {% else %}
        {% for review in reviews %}
        <div class="review-container">
            <h5><b>{{ review.user.username }}</b> reviewed:</h5>
            <p class="review-bubble mx-1 mx-md-3 mx-lg-4 p-2">{{ review.comment }}</p>
            <h5 class="m-0">Score:</h5>
            <!-- Review stars -->
            <p>
                {% for x in review.get_range %}
                <i class="fa-solid fa-star review-star"></i>
                {% endfor %}
            </p>
            <hr>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</div>

{% endblock %}