{% extends "base.html" %}
{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row">
        <h2 class="text-center">{{ trip.name }}</h2>
        <h3 class="text-center">{{ trip.destination }}</h3>
        <div class="row border mx-auto trip-description">
            <h3>{{ trip.description | safe }}</h3>
            <h3>When: {{ trip.date_start }} to {{ trip.date_end }}</h3>
            <h3>Price: {{ trip.price }}</h3>
            <h6>Registered users: {{ trip.registered_users_count }}</h6>
        </div>
    </div>
    {% if user.is_authenticated %}
    <form action="{% url 'trip_registration' trip.slug %}" method="post">
        {% csrf_token %}
        {% if registered %}
        <button type="submit" name="trip_id" value="{{trip.slug}}" class="btn btn-danger">Deregister</button>
        {% else %}
        <button type="submit" name="trip_id" value="{{trip.slug}}" class="btn btn-success">Register</button>
        {% endif %}
    </form>
    {% endif %}


    <hr>
    <div class="row">
        {% if reviewed %}
        <p>Thank you for your review!</p>
        {% else %}
        {% if user.is_authenticated and trip.is_completed %}
        <!-- Should appear if trip is complete and user is authenticated -->

        <h3>Create a review!</h3>
        <form action="" method="post">
            {{ review_form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Submit</button>
        </form>

        {% endif %}
        {% endif %}
        <h2>Reviews:</h2>
        {% with reviews.count as total_reviews %}
        {% if total_reviews == 0 %}
        <h3>No reviews currently</h3>
        {% else %}
        {% for review in reviews %}
        <h5>User {{ review.user.username }} commented:</h5>
        <p>{{ review.comment }}</p>
        <h5>Score:</h5>
        <p>{{ review.rating }}</p>
        <hr>
        {% endfor %}
        {% endif %}
        <h2>Total Rating:</h2>
        {% if total_reviews == 0 %}
        <h3>No ratings currently</h3>
        {% else %}
        <h3>{{ score }}</h3>
        {% endif %}
        {% endwith %}
    </div>
</div>

{% endblock %}